{% load static %}
<head>
    <script type="text/javascript" src="jspdf.debug.js"></script>
</head>
{% block stock %}
    {% comment %}the main tab starts here {% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="addstock">
          Add Stock
        </a>

        <a class="item" data-tab="addmedicine">
          Add Medicine
        </a>
        <a class="item" data-tab="EditThreshold">
            Edit Threshold
          </a>
        <a class="item" data-tab="viewexpiredstock">
          Expired Medicine
        </a>
        <a class="item" data-tab="viewlivestock">
          View Stock
        </a>
        <a class="item" data-tab="thresholdstock">
          Required Medicine
        </a>
    </div>

    {% comment %}the add stock tab starts here{% endcomment %}
    <div class="ui active tab" data-tab="addstock">
      <p id="medicine_add"></p>
        <div class="ui vertical segment">
            <form class="ui form" method="POST" style="padding: 8px; padding-left: 24px; padding-right: 24px;">{% csrf_token %}
                <div class="field" >
                    <label >brand_name</label>

                      <input type="text" class="" id="brand_name_a" name="brand_name_a" list="med_list_a">
                      <datalist id="med_list_a">
                      </datalist>
                    </input>
                </div>
                    <div class="field">
                        <label>Quantity</label>
                        <div class="ui fluid large input">
                            <input placeholder="Quantity" id="quantity_a" name="quantity_a" type="number">
                        </div>
                    </div>
                    <div class="field">
                        <label>Supplier</label>
                        <div class="ui fluid large input">
                            <input placeholder="Supplier" id="supplier" name="supplier" type="text">
                        </div>
                    </div>
                    <!-- <div class="field">
                        <label>Threshold</label> <p id="thr"></p>
                        <div class="ui fluid large input">
                            <input placeholder="Threshold" id="thresh_a" name="thresh_a" type="number">
                        </div>
                    </div> -->
                    <div class="field">
                        <label>Expiry Date</label>
                        <div class="ui fluid large input">
                            <input id="new_expiry_date" name="new_expiry_date" type="date">
                        </div>
                    </div>
                    <div class="field">
                        <label>medicine name</label>
                        <div class="ui fluid large input">
                            <input placeholder="BrandName" id="medicine_name_a" name="medicine_name" type="text" readonly>
                        </div>
                    </div> 
                    <div class="field">
                        <label>Constituents</label>
                        <div class="ui fluid large input">
                            <input placeholder="Constituents" id="constituents_a" name="constituents" type="text" readonly>
                        </div>
                    </div>
                    <div class="field">
                        <label>manufacture name</label>
                        <div class="ui fluid large input">
                            <input placeholder="manufacturerName" id="manufacture_name_a" name="manufacture_name" type="text" readonly>
                        </div>
                    </div>
                    <div class="field">
                        <label>pack size label</label>
                        <div class="ui fluid large input">
                            <input placeholder="Pack_size" id="packsize_a" name="packsize" type="text" readonly>
                        </div>
                    </div>                     
                    <div class="field">
                    <label><br></label>
    
                    <div >
                      <input type="button" id="add_stock" name="add_stock"  value="Submit"class="ui large right floated primary button" />
                    </div>

                   </div>
            </form>
            <script type="text/javascript">

            $('#brand_name_a').change(function()
                  {
                   var name=document.getElementById('brand_name_a').value;
                    if(name.length>2){
                        $.ajax({
                        type:'post',
                        url:'/healthcenter/compounder/',
                        data:{
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            medicine_name_for_stock:$("#brand_name_a").val(),
                            get_stock:1,
                        },
                        success: function(data){
                            var med_list_a = document.getElementById("med_list_a");
                            med_list_a.innerHTML="";
                            $.each(data.sim,function(key,value){
                                var new_option = document.createElement('option')
                                new_option.value = value.brand_name + ","+ value.id
                                med_list_a.appendChild(new_option)
                            })
                            if(data.status==2){
                                console.log(data.sim)
                                var brand_name_a = document.getElementById("medicine_name_a")
                                brand_name_a.value = data.sim[0].medicine_name
                                
                                var constituents_a =document.getElementById('constituents_a')
                                if(data.sim[0].constituents == null) constituents_a.value=""
                                else constituents_a.value = data.sim[0].constituents

                                var manufacturer_name_a =document.getElementById("manufacture_name_a")
                                if(data.sim[0].manufacturer_name == null) manufacturer_name_a.value=""
                                else manufacturer_name_a.value = data.sim[0].manufacturer_name
                                

                                var pack_size_label_a = document.getElementById('packsize_a')
                                if(data.sim[0].pack_size_label == null) pack_size_label_a.value=""
                                else pack_size_label_a.value = data.sim[0].pack_size_label
                            }
                        }
                    });
                    }
                 });


              $('#add_stock').click(function(e)
                                                  {
                                                    var medicine = document.getElementById('brand_name_a').value;
                                                    var qty = document.getElementById('quantity_a').value;
                                                    // var thresh = document.getElementById('thresh_a').value;
                                                    var supplier = document.getElementById('supplier').value;
                                                    var expiry_date = document.getElementById('new_expiry_date').value;
													console.log(medicine)
                                                    console.log(qty)
                                                    console.log(supplier)
                                                    console.log(expiry_date)
													var today = new Date(new Date().setHours(0, 0, 0, 0));

													var N_expired_med1 = new Date(expiry_date);
                                                   
                                                    if ( +N_expired_med1 < +today ) {
                                                        $('#medicine_add').html('You cannot enter expiry date before today!.');
                                                        return false;
                                                    }
													
													
                                                    if ( medicine==""||supplier==""||expiry_date==""||qty==""||qty<=0) {
                                                        $('#medicine_add').html('Enter valid details');
                                                        return false;
                                                    }

                                                    $.ajax({
                                                      type:'post',
                                                      url:'/healthcenter/compounder/',
                                                      data: {
                                                      csrfmiddlewaretoken: '{{ csrf_token }}',
                                                      medicine_id:$("#brand_name_a").val(),
                                                      quantity:$("#quantity_a").val(),
                                                      supplier:$("#supplier").val(),
                                                      expiry_date:$("#new_expiry_date").val(),
                                                      add_stock:$("#add_stock").val()

                                                    },
                                                      success: function(data){
                                                        if(data.status == 1){
                                                            alert("added stock ");
                                                            $('#live_stock').find('tbody');
                        $('#live_stock tbody').append("<tr><td>" + data.medicine + "</td><td>" + data.supplier + "</td><td>" + data.expiry_date  + "</td><td>" + data.quantity + "</td></tr>");
                                                      document.getElementById("brand_name_a").value="";
                                                      document.getElementById('quantity_a').value="";
                                                      document.getElementById('supplier').value="";
                                                      document.getElementById('new_expiry_date').value="";
                                                      $('#medicine_add').html('');
                                                      window.location.reload();
                                                        }
                                                        else{
                                                            alert("error while adding stock")
                                                        }

                                                    }
                                                  });
                                                });

      </script>
            <br>
            <br>
        </div>
        <br>
        <div class="extra segment"></div>
    </div>
    {% comment %}the add stock tab ends here {% endcomment %}


    {% comment %}the add medicine tab starts here {% endcomment %}
    <div class="ui tab" data-tab="addmedicine">
      <p id="med_add"></p>
        <div class="ui vertical segment">
            <form class="ui form" method="POST" style="padding: 8px; padding-left: 24px; padding-right: 24px;">{% csrf_token %}
              <div class="field">
                <label>Medicine Name</label>
                <div class="ui fluid large input">
                    <input placeholder="Medicine Name" id="new_medicine" name="new_medicine" type="text">
                </div>
                </div>
                <!-- <div class="field">
                    <label>Quantity</label>
                    <div class="ui fluid large input">
                        <input placeholder="Quantity" id="new_quantity" name="new_quantity" type="number">
                    </div>
                </div> -->
                <div class="field">
                    <label>Threshold</label>
                    <div class="ui fluid large input">
                        <input placeholder="Threshold" id="threshold" name="threshold" type="number">
                    </div>
                </div>
                <!-- <div class="field">
                    <label>Supplier</label>
                    <div class="ui fluid large input">
                        <input placeholder="Supplier" id="new_supplier" name="new_supplier" type="text">
                    </div>
                </div> -->
                <!-- <div class="field">
                    <label>Expiry Date</label>
                    <div class="ui fluid large input">
                        <input id="new_expiry_date" name="new_expiry_date" type="date">
                    </div>
                </div> -->
                <div class="field">
                    <label>brand name</label>
                    <div class="ui fluid large input">
                        <input placeholder="BrandName" id="brand_name" name="brand_name" type="text">
                    </div>
                </div> 
                <div class="field">
                    <label>Constituents</label>
                    <div class="ui fluid large input">
                        <input placeholder="Constituents" id="constituents" name="constituents" type="text">
                    </div>
                </div>
                <div class="field">
                    <label>manufacture name</label>
                    <div class="ui fluid large input">
                        <input placeholder="manufacturerName" id="manufacture_name" name="manufacture_name" type="text">
                    </div>
                </div>
                <div class="field">
                    <label>pack size label</label>
                    <div class="ui fluid large input">
                        <input placeholder="Pack_size" id="packsize" name="packsize" type="text">
                    </div>
                </div>                             
                <div class="field">
                <label><br></label>

                <div >
                  <input type="button" id="add_medicine" name="add_medicine"  value="Submit"class="ui large right floated primary button" />
                </div>

               </div>
            </form>
            <script type="text/javascript">
              $('#add_medicine').click(function(e)
                                                  {
                                                    var new_medicine = document.getElementById('new_medicine').value;
                                                    var threshold = document.getElementById('threshold').value;
                                                    var brand_name = document.getElementById('brand_name').value;
                                                    var constituents =document.getElementById('constituents').value;
                                                    var manufacture_name = document.getElementById('manufacture_name').value;
                                                    var packsize = document.getElementById('packsize').value;              
                                                    // var new_quantity = document.getElementById('new_quantity').value;
                                                    // var new_supplier = document.getElementById('new_supplier').value;
                                                    // var new_expiry_date = document.getElementById('new_expiry_date').value;
													

                                                   
                                                    // if ( +N_expired_med < +today ) {
                                                    //     $('#med_add').html('You cannot enter expiry date before today!.');
                                                    //     return false;
                                                    // }
													

                                                    if ( new_medicine==""||brand_name==""|| constituents=="" ||manufacture_name==""|| packsize=="" || packsize<=0 ||threshold==""||threshold<0) {
                                                        $('#med_add').html('Enter valid details');
                                                        return false;
                                                    }

                                                    $.ajax({
                                                      type:'post',
                                                      url:'/healthcenter/compounder/',
                                                      data: {
                                                      csrfmiddlewaretoken: '{{ csrf_token }}',
                                                      new_medicine:$("#new_medicine").val(),
                                                      threshold:$("#threshold").val(),
                                                      brand_name:$("#brand_name").val(),
                                                      constituents:$("#constituents").val(),
                                                      manufacture_name:$("#manufacture_name").val(),
                                                      packsize:$('#packsize').val(),
                                                      add_medicine:$('#add_medicine').val()
                                                    },
                                                      success: function(data){
                                                      alert("added new medicine");
                                                      document.getElementById("new_medicine").value="";
                                                      document.getElementById("threshold").value="";
                                                      document.getElementById('brand_name').value="";
                                                      document.getElementById('constituents').value="";
                                                      document.getElementById('manufacture_name').value="";
                                                      document.getElementById('packsize').value=""; 
                                                      $('#med_add').html('');

                                                    }
                                                  });
                                                });

      </script>
            <br>
            <br>
        </div>
        <br>
        <div class="extra segment"></div>
    </div>
    {% comment %}the add medicine tab ends here {% endcomment %}


    {% comment %}the view stock tab starts here {% endcomment %}
    <div class="ui tab" data-tab="viewlivestock">
        <div id="meds_print" class="ui vertical segment" >
            <button type="button"  id="pr_meds" name="PDF" value="PDF" class="ui primary button right floated">
                    <!-- Download -->
                    <i class="ui download icon right floated"></i>
                </button>

                <script>
    $('#pr_meds').click(function(e){
        var sTable = document.getElementById('meds_print').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Current Stock</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    });

</script>

            <table class="ui very basic collapsing celled large fluid sortable table" id="live_stock"
                   style="padding-left: 2.5%;padding-right: 2.5%;padding-top: 1%;padding-bottom: 1.5%;margin: auto;">
                <thead>
                <tr>
                    <th class="two wide">
                        Medicine
                    </th>

                     <th class="two wide" >
                        Supplier
                    </th>

                    <th class="two wide" >
                        Expiry Date
                    </th>

                    <th class="two wide" >
                        Quantity
                    </th>

                </tr>
                </thead>

                <tbody>
                {% for view in live_meds %}
                <tr>

                    <td>
                       {{view.medicine_id}}
                    </td>

                    <td>
                       {{view.supplier}}
                    </td>

                    <td>
                       {{view.Expiry_date}}
                    </td>

                    <td>
                        {{view.quantity}}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% comment %}the view stock tab ends here {% endcomment %}

    {% comment %}the view stock tab starts here {% endcomment %}
    <div class="ui tab" data-tab="viewexpiredstock">
        <div  id="exmeds_print" class="ui vertical segment" >


            <table class="ui very basic collapsing celled large fluid sortable table"
                   style="padding-left: 2.5%;padding-right: 2.5%;padding-top: 1%;padding-bottom: 1.5%;margin: auto;">
                <thead>
                <tr>
                    <th class="two wide">
                        Medicine
                    </th>

                    <th class="two wide" >
                        Quantity
                    </th>

                    <th class="two wide" >
                        Expiry Date
                    </th>

                    <th class="two wide" >
                        Supplier
                    </th>



                </tr>
                </thead>

                <tbody>
                {% for view in expired %}
                <tr>

                    <td style="white-space:nowrap;">
                       {{view.medicine_id}}
                    </td>

                    <td>
                        {{view.quantity}}
                    </td>

                    <td>
                        {{view.Expiry_date}}
                    </td>

                    <td style="white-space:nowrap;">
                        {{view.supplier}}
                    </td>

                </tr>
                {% endfor %}
                </tbody>

            </table>
            <script type="text/javascript">
                  $('#returned').click(function(e)
                                                      {
                                                        $.ajax({
                                                          type:'post',
                                                          url:'/healthcenter/compounder/',
                                                          data: {
                                                          csrfmiddlewaretoken: '{{ csrf_token }}',
                                                          id:$("#return_id").val(),
                                                          returned:$("#returned").val()
                                                        },
                                                          success: function(data){
                                                            $('#'+id).parent().parent().remove();
                                                            alert("returned medicine to supplier");

                                                          }
                                                      });
                                                    });
                </script>
        </div>
    </div>
    {% comment %}the view stock tab ends here {% endcomment %}
    
        {% comment %}the threshold stock tab starts here {% endcomment %}
        <div  class="ui tab" data-tab="thresholdstock">
            <div id="med_print" class="ui vertical segment" >
                <button type="button"  id="pr_med" name="PDF" value="PDF" class="ui primary button right floated">
                    <!-- Download -->
                    <i class="ui download icon right floated"></i>
                </button>

                <script>
    $('#pr_med').click(function(e){
        var sTable = document.getElementById('med_print').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title >Required Medicines</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    });

</script>


                <table id="tblmeds" class="ui very basic collapsing celled large fluid sortable table"
                       style="padding-left: 2.5%;padding-right: 2.5%;padding-top: 1%;padding-bottom: 1.5%;margin: auto;">
                    <thead>
                    <tr>
                        <th class="three wide">
                            Medicine
                        </th>

                        <th class="three wide" >
                            Available
                        </th>
                        <th class="three wide" >
                            Minimum
                        </th>

                    </tr>
                    </thead>

                    <tbody id="req_med">
                    {% for stock in stocks %}
                    {% if stock.quantity < stock.threshold %}
                    <tr>

                        <td>
                           {{stock.medicine_id.brand_name}}
                        </td>

                        <td>
                            {{stock.quantity}}
                        </td>
                        <td>
                            {{stock.threshold}}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% comment %}the view inventory tab ends here {% endcomment %}

        {% comment %}the edit threshold tab starts here{% endcomment %}
    <div class="ui tab" data-tab="EditThreshold">
      <p id="change_threshold"></p>
        <div class="ui vertical segment">
            <form class="ui form" method="POST" style="padding: 8px; padding-left: 24px; padding-right: 24px;">{% csrf_token %}
                <div class="field" >
                    <label >Brand Name</label>

                      <input type="text" class="" id="brand_name_b" name="brand_name_b" list="med_list_b">
                      <datalist id="med_list_b">
                      </datalist>
                    </input>
                </div>
                    <div class="field">
                        <label>Threshold</label> <p id="thr"></p>
                        <div class="ui fluid large input">
                            <input placeholder="Threshold" id="thresh_a" name="thresh_a" type="number">
                        </div>
                    </div>
                    <div class="field">
                    <label><br></label>

                    <div >
                      <input type="button" id="edit_threshold" name="edit_threshold"  value="Edit Threshold"class="ui large right floated primary button" />
                    </div>

                   </div>
            </form>
            <script type="text/javascript">

            $('#brand_name_b').change(function()
                  { 
                    var name=document.getElementById('brand_name_b').value;
                    if(name.length>2){
                        $.ajax({
                        type:'post',
                        url:'/healthcenter/compounder/',
                        data:{
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            medicine_name_for_stock:$("#brand_name_b").val(),
                            get_stock:1,
                        },
                        success: function(data){
                            var med_list_b = document.getElementById("med_list_b");
                            med_list_b.innerHTML="";
                            $.each(data.sim,function(key,value){
                                var new_option = document.createElement('option')
                                new_option.value = value.brand_name
                                med_list_b.appendChild(new_option)
                            })
                        }
                    });
                    }
                      document.getElementById("thr").innerHTML = "";
                      $.ajax({
                      type:'post',
                      url:'/healthcenter/compounder/',
                      data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      medicine:$("#brand_name_b").val(),
                      },
                      success: function(data){
                        $('#thr').append("Current Threshold: "+data.thresh);
                        }
                   });
                 });


              $('#edit_threshold').click(function(e)
                                                  {
                                                    var medicine = document.getElementById('brand_name_b').value;
                                                    var thr = document.getElementById('thresh_a').value;
                                                    console.log(thr)
                                                    // var thresh = document.getElementById('thresh_a').value;
													
													
                                                    if ( medicine=="" || thr<0) {
                                                        $('#change_threshold').html('Enter valid details');
                                                        return false;
                                                    }

                                                    $.ajax({
                                                      type:'post',
                                                      url:'/healthcenter/compounder/',
                                                      data: {
                                                      csrfmiddlewaretoken: '{{ csrf_token }}',
                                                      medicine_id:$("#brand_name_b").val(),
                                                      threshold:$("#thresh_a").val(),
                                                      edit_threshold:$("#edit_threshold").val()
                                                    },
                                                      success: function(data){
                                                     if(data.status==1){
                                                        alert("edited threshold");

                                                        document.getElementById("brand_name_b").value="";
                                                        document.getElementById('thr').innerHTML="";
                                                        document.getElementById("thresh_a").value="";
                                                        window.location.reload();
                                                     }
                                                     else{
                                                        alert("failed to edit threshold")
                                                     }

                                                    }
                                                  });
                                                });

      </script>
            <br>
            <br>
        </div>
        <br>
        <div class="extra segment"></div>
    </div>
    {% comment %}the edit threshold tab ends here {% endcomment %}

{% endblock %}
